/*@base: #f938ab;

.box-shadow(@style, @c) when (iscolor(@c)) {
  -webkit-box-shadow: @style @c;
  box-shadow:         @style @c;
}
.box-shadow(@style, @alpha: 50%) when (isnumber(@alpha)) {
  .box-shadow(@style, rgba(0, 0, 0, @alpha));
}
.box {
  color: saturate(@base, 5%);
  border-color: lighten(@base, 30%);
  div { .box-shadow(0 0 5px, 30%) }
}*/
/*@base: #f938ab;

.box-shadow(@style, @c) when (iscolor(@c)) {
  -webkit-box-shadow: @style @c;
  box-shadow:         @style @c;
}
.box-shadow(@style, @alpha: 50%) when (isnumber(@alpha)) {
  .box-shadow(@style, rgba(0, 0, 0, @alpha));
}
.box {
  color: saturate(@base, 5%);
  border-color: lighten(@base, 30%);
  div { .box-shadow(0 0 5px, 30%) }
}*/
/*@secondary:spin(@primary,180);
@tertiary:darken(spin(@primary,180), 5%);
@quaternary:darken(@primary,20%);*/
.wrapper {
  display: flex;
  width: 700px;
  height: 100px;
  align-items: stretch;
  justify-content: center;
  flex-grow: 1;
  font-size: 40px;
}
.primary {
  background: #444;
  color: #b7b7b7;
}
.primary.hover:hover {
  background: #6a6a6a;
  color: #b7b7b7;
}
.secondary {
  background: #6a6a6a;
  color: #b7b7b7;
}
.secondary.hover:hover {
  background: #919191;
  color: #b7b7b7;
}
.tertiary {
  background: #1e1e1e;
  color: #b7b7b7;
}
.tertiary.hover:hover {
  background: #444444;
  color: #b7b7b7;
}
.quaternary {
  background: #0f0f0f;
  color: #b7b7b7;
}
.quaternary.hover:hover {
  background: #353535;
  color: #b7b7b7;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  width: 100%;
  height: 100%;
}
nav {
  display: flex;
  align-items: stretch;
  justify-content: center;
  height: 70px;
  color: #999999;
  font: 20px Impact, Charcoal, sans-serif;
  box-shadow: 0 0 50px #1e1e1e;
}
nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
nav ul li:not(.no-link) {
  display: inherit;
  margin: 10px;
  border: 1px solid none;
  border-radius: 10px;
}
nav ul li:not(.no-link) a {
  padding: 10px;
}
nav ul li:not(.no-link):hover {
  background-color: #cccccc;
}
nav ul li:not(.no-link).sub-menu {
  flex-direction: column;
}
nav ul li:not(.no-link).sub-menu:hover ul {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s ease-out;
}
nav ul li:not(.no-link).sub-menu > a:after {
  padding: none;
  margin: none;
  content: ' ▾';
}
nav ul li:not(.no-link).sub-menu ul {
  display: flex;
  position: absolute;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s ease-out;
}
nav ul li:not(.no-link).sub-menu ul li {
  margin: 0;
  padding: 0;
}
nav ul li:not(.no-link).sub-menu ul li a {
  margin: 0;
  padding: 0;
}
.nav-wrapper {
  display: flex;
  flex-direction: row;
  flex-basis: 1170px;
  max-width: 1170px;
  justify-content: space-between;
}
.left {
  display: flex;
  justify-content: flex-start;
}
.right {
  display: flex;
  justify-content: flex-end;
}
.center {
  display: flex;
  justify-content: center;
}
