/*   Standard style refreshes for page.
     (Defaults box-sizing for all tags)      */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*   (Handles odd spacing for child elements of the HTML or Body tags)     */
html,
body {
  border: 0;
  outline: 0;
  width: 100%;
  height: 100%;
}
/*   Selectors that apply appropriate styles for each color.
     Any themed hoverable will be highlighted based off their design color.  */
.pri,
.primary {
  background: #aa3399;
  color: #ffffff;
}
.pri.hover:hover,
.primary.hover:hover {
  background: #ce5cbe;
  color: #ffffff;
}
.pri.bordered,
.primary.bordered {
  border: 5px solid #6f2164;
}
.c1p,
.c1primary {
  background: #99aa33;
  color: #ffffff;
}
.c1p.hover:hover,
.c1primary.hover:hover {
  background: #bece5c;
  color: #381132;
}
.c1p.bordered,
.c1primary.bordered {
  border: 5px solid #646f21;
}
.c2p,
.c2primary {
  background: #3399aa;
  color: #ffffff;
}
.c2p.hover:hover,
.c2primary.hover:hover {
  background: #5cbece;
  color: #ffffff;
}
.c2p.bordered,
.c2primary.bordered {
  border: 5px solid #21646f;
}
.sec,
.secondary {
  background: #ce5cbe;
  color: #ffffff;
}
.sec.hover:hover,
.secondary.hover:hover {
  background: #e096d5;
  color: #ffffff;
}
.sec.bordered,
.secondary.bordered {
  border: 5px solid #aa3399;
}
.c1s,
.c1secondary {
  background: #bece5c;
  color: #381132;
}
.c1s.hover:hover,
.c1secondary.hover:hover {
  background: #d5e096;
  color: #381132;
}
.c1s.bordered,
.c1secondary.bordered {
  border: 5px solid #99aa33;
}
.c2s,
.c2secondary {
  background: #5cbece;
  color: #ffffff;
}
.c2s.hover:hover,
.c2secondary.hover:hover {
  background: #96d5e0;
  color: #381132;
}
.c2s.bordered,
.c2secondary.bordered {
  border: 5px solid #3399aa;
}
.ter,
.tertiary {
  background: #6f2164;
  color: #ffffff;
}
.ter.hover:hover,
.tertiary.hover:hover {
  background: #aa3399;
  color: #ffffff;
}
.ter.bordered,
.tertiary.bordered {
  border: 5px solid #34102f;
}
.c1t,
.c1tertiary {
  background: #646f21;
  color: #ffffff;
}
.c1t.hover:hover,
.c1tertiary.hover:hover {
  background: #99aa33;
  color: #ffffff;
}
.c1t.bordered,
.c1tertiary.bordered {
  border: 5px solid #2f3410;
}
.c2t,
.c2tertiary {
  background: #21646f;
  color: #ffffff;
}
.c2t.hover:hover,
.c2tertiary.hover:hover {
  background: #3399aa;
  color: #ffffff;
}
.c2t.bordered,
.c2tertiary.bordered {
  border: 5px solid #102f34;
}
.qua,
.quaternary {
  background: #381132;
  color: #ffffff;
}
.qua.hover:hover,
.quaternary.hover:hover {
  background: #722267;
  color: #ffffff;
}
.qua.bordered,
.quaternary.bordered {
  border: 5px solid #000000;
}
.c1q,
.c1quaternary {
  background: #323811;
  color: #ffffff;
}
.c1q.hover:hover,
.c1quaternary.hover:hover {
  background: #677222;
  color: #ffffff;
}
.c1q.bordered,
.c1quaternary.bordered {
  border: 5px solid #000000;
}
.c2q,
.c2quaternary {
  background: #113238;
  color: #ffffff;
}
.c2q.hover:hover,
.c2quaternary.hover:hover {
  background: #226772;
  color: #ffffff;
}
.c2q.bordered,
.c2quaternary.bordered {
  border: 5px solid #000000;
}
/*   Wrapper for nav contents.
     (This is how the nav width is consistent with the page main element)  */
.nav-wrapper {
  display: flex;
  flex-direction: row;
  flex-basis: 1170px;
  max-width: 1170px;
}
/*   Nav tag and children element styling    */
nav {
  position: fixed;
  display: flex;
  justify-content: center;
  height: 70px;
  width: 100%;
}
nav ul {
  display: inherit;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
}
nav a {
  display: inherit;
  padding: 10px;
  cursor: pointer;
}
nav li {
  margin: 0 5px;
}
nav .sub-menu-head {
  display: inherit;
  flex-direction: column;
}
nav .sub-menu-head > a:after {
  padding-left: 5px;
  content: '\25BC';
}
nav .sub-menu-head ul {
  display: inherit;
  position: absolute;
  flex-direction: column;
  align-items: stretch;
  margin: 0;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s ease-out;
}
nav .sub-menu-head ul li {
  margin: 2px;
}
nav .sub-menu-head:hover ul {
  /*   Fix for Edge 40     */
  transition-delay: 0.01s;
  visibility: visible;
  opacity: 1.0;
}
nav .sub-menu {
  display: flex;
}
nav .sub-menu.right {
  /*   Fix for IE Flex Absolute positioning    */
  position: relative;
}
nav .sub-menu.right > ul {
  /*   Fix for IE Flex Absolute positioning    */
  right: 0;
  white-space: nowrap;
}
nav .sub-menu a {
  padding: 5px;
  margin: 0;
}
.collapse {
  height: 105px;
  width: 105px;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center;
  order: 10;
  padding: 4px;
  border-radius: 8px;
}
.collapse .bar {
  height: 15%;
  width: 95%;
  margin: 5px;
  border-radius: 100px;
}
/*   Positioning wrapper classes  */
.left {
  display: flex;
  flex: 1;
  justify-content: flex-start;
}
.right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
.center {
  display: flex;
  flex: 1;
  justify-content: center;
}
.rounded {
  border-radius: 10px;
}
nav {
  position: inherit;
  font: 20px Impact, Charcoal, sans-serif;
  box-shadow: 0px 0px 50px #6f2164;
}
nav .sub-menu {
  font: 16px Impact, Charcoal, sans-serif;
}
/*# sourceMappingURL=Spray.css.map */
