/*   Selectors that apply appropriate styles for each color.
     Any hoverable will be highlighted based off their design color.  */
.pri,
.primary {
  background: #995;
  color: #ffffff;
}
.pri.hover:hover,
.primary.hover:hover {
  background: #b9b981;
  color: #ffffff;
}
.c1p,
.c1primary {
  background: #559999;
  color: #ffffff;
}
.c1p.hover:hover,
.c1primary.hover:hover {
  background: #81b9b9;
  color: #ffffff;
}
.c2p,
.c2primary {
  background: #995599;
  color: #ffffff;
}
.c2p.hover:hover,
.c2primary.hover:hover {
  background: #b981b9;
  color: #ffffff;
}
.sec,
.secondary {
  background: #b9b981;
  color: #ffffff;
}
.sec.hover:hover,
.secondary.hover:hover {
  background: #d5d5b3;
  color: #34341d;
}
.c1s,
.c1secondary {
  background: #81b9b9;
  color: #ffffff;
}
.c1s.hover:hover,
.c1secondary.hover:hover {
  background: #b3d4d5;
  color: #34341d;
}
.c2s,
.c2secondary {
  background: #b981b9;
  color: #ffffff;
}
.c2s.hover:hover,
.c2secondary.hover:hover {
  background: #d5b3d4;
  color: #34341d;
}
.ter,
.tertiary {
  background: #68683a;
  color: #ffffff;
}
.ter.hover:hover,
.tertiary.hover:hover {
  background: #999955;
  color: #ffffff;
}
.c1t,
.c1tertiary {
  background: #3a6868;
  color: #ffffff;
}
.c1t.hover:hover,
.c1tertiary.hover:hover {
  background: #559999;
  color: #ffffff;
}
.c2t,
.c2tertiary {
  background: #683a68;
  color: #ffffff;
}
.c2t.hover:hover,
.c2tertiary.hover:hover {
  background: #995599;
  color: #ffffff;
}
.qua,
.quaternary {
  background: #34341d;
  color: #ffffff;
}
.qua.hover:hover,
.quaternary.hover:hover {
  background: #656538;
  color: #ffffff;
}
.c1q,
.c1quaternary {
  background: #1d3434;
  color: #ffffff;
}
.c1q.hover:hover,
.c1quaternary.hover:hover {
  background: #386565;
  color: #ffffff;
}
.c2q,
.c2quaternary {
  background: #341d34;
  color: #ffffff;
}
.c2q.hover:hover,
.c2quaternary.hover:hover {
  background: #653865;
  color: #ffffff;
}
/*   Standard style refreshes for page.
     (Defaults box-sizing for all tags)      */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*   (Handles odd spacing for child elements of the HTML or Body tags)     */
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  width: 100%;
  height: 100%;
}
/*   Wrapper for nav contents.
     (This is how the nav width is consistent with the page main element)  */
.nav-wrapper {
  display: flex;
  flex-direction: row;
  flex-basis: 1170px;
  max-width: 1170px;
  justify-content: space-between;
}
/*   Nav tag and children element styling    */
nav {
  display: flex;
  justify-content: center;
  height: 70px;
  font: 20px Impact, Charcoal, sans-serif;
  box-shadow: 0 0 50px #34341d;
}
nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
}
nav ul li:not(.no-link) {
  display: inherit;
  overflow: hidden;
  margin: 10px;
}
nav ul li:not(.no-link) a {
  padding: 10px;
  cursor: pointer;
}
nav ul li:not(.no-link).sub-menu {
  flex-direction: column;
}
nav ul li:not(.no-link).sub-menu:hover ul {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s ease-out;
}
nav ul li:not(.no-link).sub-menu > a:after {
  padding: 0;
  margin: 0;
  font-size: 16px;
  content: ' ▾';
}
nav ul li:not(.no-link).sub-menu ul {
  display: flex;
  position: absolute;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s ease-out;
}
nav ul li:not(.no-link).sub-menu ul li {
  margin: 0;
  padding: 0;
}
nav ul li:not(.no-link).sub-menu ul li a {
  margin: 0;
  padding: 0;
}
/*   Positioning wrapper classes  */
.left {
  display: flex;
  justify-content: flex-start;
}
.right {
  display: flex;
  justify-content: flex-end;
}
.center {
  display: flex;
  justify-content: center;
}
/*  Styling classes */
.rounded {
  border-radius: 10px;
}
