/*   Selectors that apply appropriate styles for each color.
     Any hoverable will be highlighted based off their design color.  */
.pri,
.primary {
  background: #bdc;
  color: #446253;
}
.pri.hover:hover,
.primary.hover:hover {
  background: #eef7f2;
  color: #446253;
}
.c1p,
.c1primary {
  background: #ccbbdd;
  color: #446253;
}
.c1p.hover:hover,
.c1primary.hover:hover {
  background: #f2eef7;
  color: #446253;
}
.c2p,
.c2primary {
  background: #ddccbb;
  color: #446253;
}
.c2p.hover:hover,
.c2primary.hover:hover {
  background: #f7f2ee;
  color: #446253;
}
.sec,
.secondary {
  background: #eef7f2;
  color: #446253;
}
.sec.hover:hover,
.secondary.hover:hover {
  background: #ffffff;
  color: #446253;
}
.c1s,
.c1secondary {
  background: #f2eef7;
  color: #446253;
}
.c1s.hover:hover,
.c1secondary.hover:hover {
  background: #ffffff;
  color: #446253;
}
.c2s,
.c2secondary {
  background: #f7f2ee;
  color: #446253;
}
.c2s.hover:hover,
.c2secondary.hover:hover {
  background: #ffffff;
  color: #446253;
}
.ter,
.tertiary {
  background: #88c4a6;
  color: #ffffff;
}
.ter.hover:hover,
.tertiary.hover:hover {
  background: #bbddcc;
  color: #446253;
}
.c1t,
.c1tertiary {
  background: #a688c4;
  color: #ffffff;
}
.c1t.hover:hover,
.c1tertiary.hover:hover {
  background: #ccbbdd;
  color: #446253;
}
.c2t,
.c2tertiary {
  background: #c4a688;
  color: #ffffff;
}
.c2t.hover:hover,
.c2tertiary.hover:hover {
  background: #ddccbb;
  color: #446253;
}
.qua,
.quaternary {
  background: #446253;
  color: #ffffff;
}
.qua.hover:hover,
.quaternary.hover:hover {
  background: #638f79;
  color: #ffffff;
}
.c1q,
.c1quaternary {
  background: #534462;
  color: #ffffff;
}
.c1q.hover:hover,
.c1quaternary.hover:hover {
  background: #79638f;
  color: #ffffff;
}
.c2q,
.c2quaternary {
  background: #625344;
  color: #ffffff;
}
.c2q.hover:hover,
.c2quaternary.hover:hover {
  background: #8f7963;
  color: #ffffff;
}
/*   Standard style refreshes for page.
     (Defaults box-sizing for all tags)      */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*   (Handles odd spacing for child elements of the HTML or Body tags)     */
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  width: 100%;
  height: 100%;
}
/*   Wrapper for nav contents.
     (This is how the nav width is consistent with the page main element)  */
.nav-wrapper {
  display: flex;
  flex-direction: row;
  flex-basis: 1170px;
  max-width: 1170px;
  justify-content: space-between;
}
/*   Nav tag and children element styling    */
nav {
  display: flex;
  justify-content: center;
  height: 70px;
  font: 20px Impact, Charcoal, sans-serif;
  box-shadow: 0 0 50px #446253;
}
nav ul {
  display: inherit;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
  /*li:not(.no-link){
               display: inherit;
               overflow: hidden;
               margin: 10px;
               a{
                    padding: 10px;
                    cursor: pointer;
               }
               &.sub-menu{
                    flex-direction: column;
                    &:hover{
                         ul{
                              .show(1s, ease-out);
                         }
                    }
                    >a:after{
                         padding:0;
                         margin:0;
                         //   for some reason, this increases the size of the a element
                         //   It's slightly larger than the other links.  It's irritating
                         //   font-size 16px is a hack
                         font-size: 16px;
                         content:' ▾';
                    }
                    ul {
                         display: flex;
                         position: absolute;
                         flex-direction: column;
                         .hide(1s, ease-out);
                         li{
                              margin: 0;
                              padding: 0;
                              a{
                                   margin: 0;
                                   padding: 0;
                              }
                         }
                    }
               }
          }*/
}
nav a {
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}
nav.sub-menu {
  display: inherit;
  flex-direction: column;
}
/*   Positioning wrapper classes  */
.left {
  display: flex;
  justify-content: flex-start;
}
.right {
  display: flex;
  justify-content: flex-end;
}
.center {
  display: flex;
  justify-content: center;
}
/*  Styling classes */
.rounded {
  border-radius: 10px;
}
