// main: Spray.less
//   These define the theme colors built from the @primary color.
//   It's recommended that you stick to LESS color functions for changes.
//   Currently, the pallete consists of shades of the @primary color.
//   These colors can be modified with LESS color functions to provide
//   complimentary colors instead.
@secondary:lighten(@primary,15%);
@tertiary:darken(@primary,15%);
@quaternary:mix(@tertiary,#000);
//   Mixin for determining how much contrast is applied to text.
//   Modify this to increase or decrease text contrast
.text-color(@color){
     color:contrast(@color,@quaternary,lighten(@secondary,50%),50%);
}
/*   Selectors that apply appropriate styles for each color.
     Any hoverable will be highlighted based off their design color.  */
//   Possible future modification: shorten classes to .pri, .sec, .ter, .qua
.primary{
     background: @primary;
     .text-color(@primary);
     &.hover:hover{
          background:lighten(@primary,15%);
          .text-color(lighten(@primary,15%));
     }
}
.secondary{
     background: @secondary;
     .text-color(@secondary);
     &.hover:hover{
          background:lighten(@secondary,15%);
          .text-color(lighten(@secondary,15%));
     }
}
.tertiary{
     background: @tertiary;
     .text-color(@tertiary);
     &.hover:hover{
          background:lighten(@tertiary,15%);
          .text-color(lighten(@tertiary,15%));
     }
}
.quaternary{
     background: @quaternary;
     .text-color(@quaternary);
     &.hover:hover{
          background:lighten(@quaternary,15%);
          .text-color(lighten(@quaternary,15%));
     }
}
