// main: Spray.less
/*   Standard style refreshes for page.
     (Defaults box-sizing for all tags)      */
*, *:before, *:after{
     box-sizing: border-box;
     margin:0;
     padding:0;
}
/*   (Handles odd spacing for child elements of the HTML or Body tags)     */
html,body{
     margin: 0;
     padding: 0;
     border: 0;
     outline: 0;
     width: 100%;
     height: 100%;
}
/*   Wrapper for nav contents.
     (This is how the nav width is consistent with the page main element)  */
.nav-wrapper{
     display: flex;
     flex-direction: row;
     flex-basis: @pagewidth;
     max-width: @pagewidth;
     justify-content: space-between;
}
/*   Nav tag and children element styling    */
nav {
     display: flex;
     justify-content: center;
     height: @navheight;
     .font-nav(20px);
     .box-shadow(@navshadowcolor);
     & ul{
          display: inherit;
          list-style: none;
          align-items: center;
          margin: 0;
          padding: 0;
     }
     & a{
          display: inherit;
          padding:10px;
          cursor: pointer;
     }
     & li{
          margin: 0 5px;
     }
     & li.sub-menu{
          display: inherit;
          flex-direction: column;
          //align-items: flex-end;
          >a:after{
               padding-left:5px;
               content: '\25BC';
          }
          & .sub-menu{
            display: flex;

          }
          & .sub-menu a{
               padding: 5px;
               margin:0;
               font-size: floor(@navfontsize*.9);
          }
          & ul{
               display: inherit;
               position:absolute;
               flex-direction: column;
               align-items: stretch;

               margin: 0;
               .hide(1s, ease-out);
               & li{
                    margin: 5px;
               }
          }
          &:hover{
               & ul{
                    .show(1s, ease-out);
               }
          }
     }
}
