// main: ../Spray.less


.import-theme(@theme) when (@theme = "sepia") {
  @import "./sepia-basis.less";
}
.import-theme(@theme) when (@theme = "shades") {
  @import "./shades-basis.less";
}
.import-theme(@theme) when (@theme = "contrast") {
  @import "./contrast-basis.less";
}
.import-theme(@theme) {
}
.import-theme(@var-theme);
//@import "./@{var-theme-basis}.less";
//@import "./contrast-basis.less";
//@import "./shades-basis.less";

// @primary: @var-primary-color;
// //   Shades of the primary color
// @secondary: lighten(@primary, 15%);
// @tertiary: darken(@primary, 15%);
// @quaternary: mix(@tertiary, #000);

// //   Starting point for the First complementary color
// @c1primary: spin(@primary, 180);
// //1  Shades of the first complementary color
// @c1secondary: lighten(@c1primary, 15%);
// @c1tertiary: darken(@c1primary, 15%);
// @c1quaternary: mix(@c1tertiary, #000);

// //   Starting point for the second complementary color
// @c2primary: spin(@primary, 120);
// //2  Shades of the second complementary color
// @c2secondary: lighten(@c2primary, 15%);
// @c2tertiary: darken(@c2primary, 15%);
// @c2quaternary: mix(@c2tertiary, #000);

// //   Starting point for the third complementary color
// @c3primary: spin(@primary, 240);
// //3  Shades of the third complementary color
// @c3secondary: lighten(@c3primary, 15%);
// @c3tertiary: darken(@c3primary, 15%);
// @c3quaternary: mix(@c3tertiary, #000);

.contrast-text-color(@color) {
  color: contrast(
    @color,
    darken(@quaternary, 70%),
    lighten(@primary, 70%),
    65%
  )  !important;
}
.color-style-inner(@color) {
  background: @color;

  &.text {
    background: unset;
    color: @color !important;
  }
  &.hover:hover {
    background: lighten(@color, 15%);
    //.contrast-text-color(lighten(@color, 15%));
  }

  &.hover.text:hover {
    //background: unset;
    color: lighten(@color, 15%) !important;
  }
  &:focus {
    background: lighten(@color, 15%);
    //.contrast-text-color(lighten(@color, 15%));
  }
}
//   Helper for consistent color modifications
.color-style(@color) {
  //background: @color;
  .color-style-inner(@color);
  .contrast-text-color(@color);
  &.bordered {
    border: 5px solid darken(@color, 5%);
  }
  &.trans-light {
    .color-style-inner(fade(@color, 90%));
  }
  &.trans {
    .color-style-inner(fade(@color, 60%));
  }
  &.trans-heavy {
    .color-style-inner(fade(@color, 30%));
  }
}

/*   Selectors that apply appropriate styles for each color.
     Any themed hoverable will be highlighted based off their design color.  */
.no-bg {
  background: unset !important;
}
.pri {
  .color-style(@primary);
}
.c1p {
  .color-style(@c1primary);
}
.c2p {
  .color-style(@c2primary);
}
.c3p {
  .color-style(@c3primary);
}
//


.sec {
  .color-style(@secondary);
}
.c1s {
  .color-style(@c1secondary);
}
.c2s {
  .color-style(@c2secondary);
}
.c3s {
  .color-style(@c3secondary);
}
//


.ter {
  .color-style(@tertiary);
}
.c1t {
  .color-style(@c1tertiary);
}
.c2t {
  .color-style(@c2tertiary);
}
.c3t {
  .color-style(@c3tertiary);
}
//


.qua {
  .color-style(@quaternary);
}
.c1q {
  .color-style(@c1quaternary);
}
.c2q {
  .color-style(@c2quaternary);
}
.c3q {
  .color-style(@c3quaternary);
}
