//output:../colors.html
link(rel="stylesheet", type="text/css", href="css/colors.css")
.wrapper
     .primary
          |primary color
     .secondary
          |secondary color
     .tertiary
          |tertiary color
     .quaternary
          |quaternary color
