//output:../colors.html
head
     style.
          .page{
               display:flex;
               font:20px "Arial";
          }
          .wrapper{
               display:flex;
               flex-direction:column;
               justify-content:flex-start;
               height:500px;
               width:500px;
          }
          .box{
               display:flex;
               flex:1 0;
               flex-wrap:wrap;
               align-items:center;
               justify-content:center;
          }
link(rel="stylesheet", type="text/css", href="css/Spray.css")
.page     
     .wrapper
          .box.pri.hover
               | pri.hover       
          .box.sec.hover
               | sec.hover       
          .box.ter.hover
               | ter.hover       
          .box.qua.hover
               | qua.hover       
     .wrapper
          .box.c1p.hover
               | c1p.hover       
          .box.c1s.hover
               | c1s.hover       
          .box.c1t.hover
               | c1t.hover       
          .box.c1q.hover
               | c1q.hover       
     .wrapper
          .box.c2p.hover
               | c2p.hover       
          .box.c2s.hover
               | c2s.hover       
          .box.c2t.hover
               | c2t.hover       
          .box.c2q.hover
               | c2q.hover       
