//output:../index.html
doctype
html
     head
          include _shared/_head.jade
     body
          include _shared/_nav.jade
          h1 hello world
          h2 bye bye world
          h1 hello world
          h2 bye bye world
          h1 hello world
          h2 bye bye world
          h1 hello world
          h2 bye bye world
          h1 hello world
          h2 bye bye world
          h1 hello world
          h2 bye bye world
          h1 hello world
          h2 bye bye world
          h1 hello world
          h2 bye bye world
          h1 hello world
          h2 bye bye world
          h1 hello world
          h2 bye bye world
          h1 hello world
          h2 bye bye world
          h1 hello world
          h2 bye bye world
          h1 hello world
          h2 bye bye world
          h1 hello world
          h2 bye bye world
          h1 hello world
          h2 bye bye world
          h1 hello world
          h2 bye bye world
          h1 hello world
          h2 bye bye world
          h1 hello world
          h2 bye bye world
          h1 hello world
          h2 bye bye world
          h1 hello world
          h2 bye bye world
          h1 hello world
          h2 bye bye world
          h1 hello world
          h2 bye bye world
