//output:../index.html
doctype
- var navcollapse="978px"
html
     head
          include _shared/_head.jade
     body
          header.left.qua
               picture
                    source(media="(max-width:"+navcollapse+")", srcset="/imgs/header-small.jpg")
                    img(src="/imgs/header.jpg")
          include _shared/_nav.jade
          h1 hello world
          h2 bye bye world
          h1 hello world
          h2 bye bye world
          h1 hello world
          h2 bye bye world
          h1 hello world
          h2 bye bye world
          h1 hello world
          h2 bye bye world
          h1 hello world
          h2 bye bye world
          h1 hello world
          h2 bye bye world
          h1 hello world
          h2 bye bye world
          h1 hello world
          h2 bye bye world
          h1 hello world
          h2 bye bye world
          h1 hello world
          h2 bye bye world
          h1 hello world
          h2 bye bye world
          h1 hello world
          h2 bye bye world
          h1 hello world
          h2 bye bye world
          h1 hello world
          h2 bye bye world
          h1 hello world
          h2 bye bye world
          h1 hello world
          h2 bye bye world
          h1 hello world
          h2 bye bye world
          h1 hello world
          h2 bye bye world
          h1 hello world
          h2 bye bye world
          h1 hello world
          h2 bye bye world
          h1 hello world
          h2 bye bye world
