//output:../index.html
doctype
- var navcollapse="978px"
html
     head
          include _shared/_head.jade
     body
          include _shared/_nav.jade
          .nav-bg-responsive.fixed.qua
               picture
                    //source(media="(max-width:"+navcollapse+")", srcset="/imgs/header-small.jpg")
                    img(src="/imgs/header.jpg")
          
          main
               h1 hello world
               h2 bye bye world
               h1 hello world
               h2 bye bye world
               h1 hello world
               h2 bye bye world
               h1 hello world
               h2 bye bye world
               h1 hello world
               h2 bye bye world
               h1 hello world
               h2 bye bye worldh1 hello world
               h2 bye bye worldh1 hello world
               h2 bye bye worldh1 hello world
               h2 bye bye worldh1 hello world
               h2 bye bye worldh1 hello world
               h2 bye bye worldh1 hello world
               h2 bye bye worldh1 hello world
               h2 bye bye worldh1 hello world
               h2 bye bye worldh1 hello world
               h2 bye bye worldh1 hello world
               h2 bye bye worldh1 hello world
               h2 bye bye worldh1 hello world
               h2 bye bye worldh1 hello world
               h2 bye bye worldh1 hello world
               h2 bye bye worldh1 hello world
               h2 bye bye worldh1 hello world
               h2 bye bye worldh1 hello world
               h2 bye bye worldh1 hello world
               h2 bye bye worldh1 hello world
               h2 bye bye worldh1 hello world
               h2 bye bye worldh1 hello world
               h2 bye bye worldh1 hello world
               h2 bye bye world
          footer
