nav.quaternary
     .nav-wrapper
          .left
               ul
                    li.no-link just some text
                    li.primary.hover #[a link 1]
          .right
               ul
                    li.primary.hover #[a link 2sdffffffffffffffff]
                    li.sub-menu.primary.hover #[a link 3 with sub menu]
                         .sub-menu.right
                              ul.sub-menu.secondary
                                   li.tertiary.hover #[a sub link 1]
                                   li.tertiary.hover #[a sub link 2]
                                   li.tertiary.hover #[a sub link 3]
                    li.primary.hover #[a link 4]
