nav.qua
     .nav-wrapper
          .left
               ul
                    li.no-link just some text
                    li #[a.rounded.pri.hover link 1]
          .right
               ul
                    li #[a.pri.hover link 2sdffffffffffffffff]
                    li.sub-menu #[a.sec.hover link 3 with sub menu]
                         .sub-menu.right
                              ul.sub-menu.sec
                                   li #[a.rounded.ter.hover sub link 1]
                                   li #[a.ter.hover sub link 2]
                                   li #[a.ter.hover sub link 3]
                    li #[a.pri.hover link 4]
