//   On click is fix for mobile Safari
nav.qua(onclick="")
     .nav-head
          .collapse-btn.ter.hover.bordered(data-toggle="nav-collapse")
               span.bar.c2p
               span.bar.c2s
               span.bar.c2t
          .page-title page title
     .nav-wrapper
          ul.left
               li #[a.bordered.rounded.pri.hover link 1]
               li.sub-menu-head #[a.sec.hover link 2]
                    .sub-menu.left
                         ul.rounded.sec
                              li #[a.c2q.hover sub link 1]
                              li #[a.ter.hover sub link 2]
                              li #[a.ter.hover sub link 3]
                              li #[a.sec.hover really long sub link because I freaking can]
          ul.center
               li some test text
          ul.right
               li #[a.c1t.hover link 3]
               li.sub-menu-head #[a.c1s.hover link 4]
                    .sub-menu.right
                         ul.ter
                              li #[a.c2s.hover sub link 1]
                              li #[a.rounded.c1s.hover sub link 2]
                              li #[a.pri.hover sub link 3]
                              li #[a.sec.hover really long sub link because I freaking can]
               li #[a.pri.hover link 5]
