nav.quaternary
     .nav-wrapper
          .left
               ul
                    li.no-link just some text
                    li.rounded #[a.primary.hover link 1]
          .right
               ul
                    li #[a.primary.hover link 2sdffffffffffffffff]
                    li.sub-menu #[a.secondary.hover link 3 with sub menu]
                         .sub-menu.right
                              ul.sub-menu.secondary
                                   li #[a.tertiary.hover.rounded sub link 1]
                                   li #[a.tertiary.hover sub link 2]
                                   li #[a.tertiary.hover sub link 3]
                    li #[a.primary.hover link 4]
