// main: ../Spray.less

/*   Wrapper for nav contents.
     (This is how the nav width is consistent with the page main element)  */
.nav-wrapper{
     display: flex;
     flex-direction: row;
     flex-basis: @page-width;
     max-width: @page-width;
}
/*   Nav tag and children element styling    */
nav {
     display: flex;
     justify-content: center;
     height: @nav-height;
     width:100%;
     //
     & ul{
          display: inherit;
          list-style: none;
          align-items: center;
     }
     //
     & a{
          display: inherit;
          padding:10px;
          cursor: pointer;
     }
     //
     & li{
          margin:0 5px;
     }
}
.sub-menu.right{
     /*   Fix for IE Flex Absolute positioning    */
     position: relative;
     //
     &>ul{
          /*   Fix for IE Flex Absolute positioning    */
          right:0;
          white-space: nowrap;
     }
}
//
.sub-menu-head{
     >a:after{
          padding-left:5px;
          content: '\25BC';
     }
     //
     & ul{
          display: block;
          position:absolute;
          overflow: hidden;
          .nav-sub-menu-hide();
     }
     li{
          margin: 2px;
     }
     //
     &:hover ul{
          .nav-sub-menu-show();
     }
}
//
.sub-menu a{
     padding: 5px;
}
