// main: ../Spray.less

/*   The collapse div that functions as the menu button     */
.collapse-btn{
     height:@nav-height*.8;
     width:@nav-height*.8;
     display: flex;
     flex-direction: column;
     align-items: center;
     align-self: flex-end;
     justify-content: center;
     padding:4px;
     position:absolute;
     border-radius: 8px;
     z-index: 100;
     //
     & .bar{
          flex:1;
          width:95%;
          margin:3px;
          border-radius: 100px;
     }
     &:hover ~ .nav-wrapper > ul{
          .nav-sub-menu-show();
     }
}
@media (min-width: @nav-collapse){
     //
     .collapse-btn{
          display: none;
     }
}
@media (max-width: @nav-collapse){
     //
     .nav-wrapper{
          position: absolute;
          flex-direction: column;
          flex:0;
          width:100%;
          //padding-bottom:5px;
          overflow: hidden;
          & >ul{
               display:block;
               .nav-sub-menu-hide();
          }
          //height:@nav-height;
     }
     //
     nav {
          .page-title{
               height:@nav-height*.8;
          }
          //justify-content:space-between;
          justify-content: flex-end;
          //align-items: flex-start;
          //height:auto;
          //
          & ul{
               flex-direction: column;
               align-items:flex-start;

          }
          //
          & a{
               align-self: stretch;
          }
          //
          & li{
               align-self: stretch;
          }
          //
          & .sub-menu-head{
               align-items: stretch;
               justify-content: stretch;
               flex:0;
               //
               & ul{
                    position:relative;
                    max-height:0;
                    flex:1;
                    margin-left: 2%;
                    background: none;
                    border-radius: 0;
               }
               //
               &:hover{
                    //
                    & ul{
                         /*   Fix for Edge 40     */
                         max-height:500px;
                    }
               }
          }
          //
          & .sub-menu{
               display: flex;
               justify-content: stretch;
               align-items: stretch;
               /*   Ignore right-aligned submenus    */
               &.right{
                    /*   Ignore right-aligned submenus    */
                    position: relative;
                    //
                    &>ul{
                         right:auto;
                         white-space:normal;
                    }
               }
          }
          //
          & .sub-menu a{
               padding: 5px;
               margin:0;
          }
     }
}
