// main: ../Spray.less
/*   Positioning wrapper classes  */
.left{
     display: flex;
     flex:1;
     justify-content: flex-start;
}
.right{
     display: flex;
     flex:1;
     justify-content: flex-end;
}
.center{
     display: flex;
     flex:1;
     justify-content: center;
}
